* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-color: #0b0b0b;
  --light: #2c2e2d;
}

body {
  font-family: Roboto;

  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background: grey;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: gainsboro;
  }
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

button {
  cursor: pointer;
}

input:focus::placeholder {
  color: transparent !important;
}

@font-face {
  font-family: Roboto;
  src: url('./fonts/Roboto-Regular.ttf');
}
